@model Project2MissionSite.Models.Mission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionPresFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionPresFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionPresLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionPresLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionHomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionHomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionStateOrProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionStateOrProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionClimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionClimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionDominantReligion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionDominantReligion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MissionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
